include ../content/content
include ../container/container
include ../subtitle/subtitle
include ../heading/heading
include ../personal-data/personal-data
include ../list/list
include ../col/col
include ../arrow/arrow
include ../tree/tree

mixin index()
	.index
		+content()
			+personal-data(getData('personalData'))
			
			.index__group
				+subtitle()
					| ЧТО ВКЛЮЧЕНО

			+heading()
				| Инструменты:

			.index__group
				+list(getData('tools'))

			.index__group
				+subtitle()
					| СТРУКТУРА ФАЙЛОВ

				+col()
					+heading()
						| Исходники
					+tree(getData('sourceTree'))

				+col()
					.index__arrow
						+arrow()
							| Компиляция

				+col()
					+heading()
						| Готовые файлы
					+tree(getData('buildTree'))
