include ../content/content
include ../container/container
include ../heading/heading
include ../description/description
include ../monospace/monospace
include ../underscore/underscore
include ../academy/academy
include ../checkbox/checkbox
include ../slider/slider

mixin index()
	+b.index
		+content()
			+e.group
				+underscoreRow(getData('personalData'))

			+e.group
				+academy([
					{
						'link': 'https://htmlacademy.ru/',
						'title': 'htmlacademy.ru',
						'graduate': true
					}
				])
			+e.group
				+heading()
					| Практические навыки
				+description()
					| Отемтьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутсвие опыта отнюдь не означает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
				+checkbox(getData('skills'))

			+e.slider
				+heading()
					| Уровень владения JavaScript
				+slider()
			+e.group
				+underscoreRow([['Дата заполенения', '01.01.2014']])(class='underscore__data--short')
