.container
	min-width 320px
	max-width 1000px
	margin-left auto
	margin-right auto
	padding 0 45px
	background-image url(../images/background-pattern.jpg)
	background-color #E7C794
	+below('m')
		padding 0 20px
	+below('s')
		padding 0 10px
