.checkbox
	display flex
	flex-direction column
	flex-wrap wrap
	height 260px

.checkbox__item
	margin-bottom 10px
	width 33%
	input[type='checkbox']
		display none
	label
		display flex
		align-items flex-end
		color  #000000
		font-size 21px
		font-weight 700
		cursor pointer
		&::before
			content ''
			display inline-block
			margin-right 3px
			sprite $checkbox
	input[type='checkbox']:checked + label::before
		sprite $checkbox_check



