.header
	// background-color palegreen

	&__wrapper
		// background-color lightblue
		clearfix()

	&__logo
		padding-top 60px
		// background-color orange
		float left

	&__mark
		padding-top 48px
		padding-right 10px
		// background-color coral
		float right

	&__title
		width 100%
		padding-top 31px
		// background-color #CCC
		float left
