include ../logo/logo
include ../secret/secret
include ../title/title
include ../description/description

mixin header()
	+b.header

			+e.logo
				+logo()
			+e.mark
				+secret()
			+e.title
				+title()
		

				//+description()
					| Шаблон проекта для быстрого старта.
