@import "../../../node_modules/nouislider/distribute/nouislider.min.css"

.slider-wrap
	width 100%
	padding-top 45px
	padding-bottom 10px
	padding-left 6px
	padding-right 6px
	+below('m')
		padding-left 35px

#slider
	+below('m')
		width 2px
		height 300px

.noUi-target
	height 2px
	border none
	border-radius 0
	box-shadow none
	background-color pips-color

.noUi-horizontal .noUi-handle
.noUi-vertical .noUi-handle
	background-color transparent
	background-repeat no-repeat
	box-shadow none
	border none
	border-radius 0
	cursor pointer
	&::before
	&::after
		display none

.noUi-horizontal .noUi-handle
	top -18px
	left -9px
	sprite $slider_pointer

.noUi-vertical .noUi-handle
	top -8px
	left -19px
	sprite $slider_pointer_90

.noUi-pips.noUi-pips-horizontal
	padding-top 0

.noUi-pips.noUi-pips-vertical
	padding 0 0
	margin-left -2px

.noUi-value.noUi-value-horizontal.noUi-value-large
.noUi-value.noUi-value-vertical.noUi-value-large
	font-size 13px
	font-weight 700
	line-height normal
	color heading-color
	text-align left
	cursor pointer
	transition text-shadow .2s ease
	&:active
		text-shadow 0 0 2px white

.noUi-value.noUi-value-horizontal.noUi-value-large
	width 170px
	margin-left 0
	padding-top 33px
	+below('l')
		width 150px
	&:last-child
		text-align right
		left 78% !important

.noUi-value.noUi-value-vertical.noUi-value-large
	width 300px
	padding-left 10px

.noUi-marker.noUi-marker-horizontal.noUi-marker-normal,
.noUi-marker.noUi-marker-vertical.noUi-marker-normal
	display none

.noUi-marker.noUi-marker-horizontal.noUi-marker-large
	height 10px
	background-color pips-color
	&:first-child,
	&:nth-last-child(2)
		height 25px
		margin-top -2px

.noUi-marker.noUi-marker-vertical.noUi-marker-large
	background-color pips-color
