@import "../../../node_modules/nouislider/distribute/nouislider.min.css"

.slider-wrap
	width 100%
	height 757px
	padding-top 45px
	padding-left 6px
	padding-right 6px

#slider
	//height 756px


.noUi-target
	height 2px
	border none
	border-radius 0
	box-shadow none
	background-color pips-color

.noUi-horizontal .noUi-handle
	background-color transparent
	sprite $slider_pointer
	top -18px
	//left -8.5px
	left -8px
	background-repeat no-repeat
	box-shadow none
	border none
	border-radius 0
	cursor pointer
	&::before
	&::after
		display none

.noUi-pips.noUi-pips-horizontal
	padding-top 0

.noUi-value
	width 170px

.noUi-value.noUi-value-horizontal.noUi-value-large
	margin-left 0
	padding-top 33px
	color heading-color
	font-size 13px
	font-weight 700
	line-height normal
	text-align left
	cursor pointer
	transition text-shadow .2s ease
	&:active
		text-shadow 0 0 2px white
	&:last-child
		text-align right
		left 78% !important

.noUi-marker.noUi-marker-horizontal.noUi-marker-normal
	display none

.noUi-marker.noUi-marker-horizontal.noUi-marker-large
	height 10px
	background-color pips-color
	&:first-child,
	&:nth-last-child(2)
		height 25px
		margin-top -2px
